/*   DESKTOP DEMO OF SVG EFFECTS. */

@import url("https://fonts.googleapis.com/css?family=Lato");

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #9387ab;
	font: 400 10px "Lato", sans-serif;
	text-align: center;
	text-decoration: solid;
}

.header {
	width: 100%;
	height: 75px;
	background: #17141d;
	opacity: 0.95;
	overflow: hidden;
	-webkit-box-shadow: #333 1px 3px 4px;
	-moz-box-shadow: #333 1px 3px 4px;
	box-shadow: #333 1px 3px 4px;
}

.content {
	width: 100%;
	height: calc(100% - 75px);
	background-image: url(https://picsum.photos/1000/700);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #9387ab;
}

svg.line-top {
	width: 100%;
	background-color: #17141d;
}

svg.line-bottom {
	width: 100%;
}

.menu {
	width: 750px;
	margin: 0 auto;
}

ul {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

ul li,
a {
	margin: 0;
	width: 20%;
	height: 10px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: solid !important;
	color: white !important;
	cursor: pointer;
	display: inline-block;
	letter-spacing: 3.5px;
	transition: all 0.5s ease-out;
}

li.active {
	color: orange;
	transform: scale(1.1);
}

polygon {
	stroke-width: 2px;
	stroke: orange;
	fill: orange;
}

@media (max-device-width: 991px) {
	.header {
		height: 64px;
	}

	body {
		font-size: 0.4em;
	}

	.content {
		height: calc(100% - 64px);
	}
}

section {
	height: 650px;
	width: 100%;
	text-align: center;
	padding: auto;
}

h1 {
	padding-top: 276px;
	padding-bottom: 276px;
	display: inline-block;
	background-color: none !important;
	background-image: none !important;
	color: white;
	font-size: xx-large;
}

.titulo {
	padding-top: 50px;
	padding-bottom: 900px;
	display: inline-block;
	background-color: none !important;
	background-image: none !important;
	color:white;
	font-size: 100px;
	text-align: left;
	padding-right: 900px;
	padding-left: 200px;
	font-weight: 500;
}
.titul {
	padding-top: 100px;
	padding-bottom: 900px;
	display: inline-block;
	background-color: none !important;
	background-image: none !important;
	color:white;
	font-size: 100px;
	text-align: left;
	padding-right: 900px;
	padding-left: 200px;
	font-weight: 500;
}

